---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../../consts";
import { getBlogPosts } from "../../functions/blog/getBlogPosts";
import Shell from "../../layouts/Shell.astro";
import BlostPostList from "../../components/blog/BlostPostList.astro";

const posts = await getBlogPosts();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="All blog posts" description={SITE_DESCRIPTION} />
  </head>
  <Shell>
    <section class="flex justify-center px-5 sm:px-20 md:px-40 py-5">
      <div class="xl:w-2/3 2xl:w-1/2 max-w-full">
        <h1
          class="font-headings text-4xl md:text-5xl lg:text-7xl py-10 text-center"
        >
          All blog posts
        </h1>
        <BlostPostList posts={posts} />
      </div>
    </section>
  </Shell>
</html>
