---
import slug from "slug";
import BlogPostList from "../../components/blog/BlostPostList.astro";
import { getBlogPosts, type BlogPost } from "../../functions/blog/getBlogPosts";
import { groupByTags } from "../../functions/blog/groupByTags";
import BaseHead from "../../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../../consts";
import Shell from "../../layouts/Shell.astro";
import { getUrl } from "../../functions/getUrl";

export async function getStaticPaths() {
  const posts = await getBlogPosts();
  const tags = groupByTags(posts);

  return Object.entries(tags).map(([tag, posts]) => {
    return {
      params: { slug: slug(tag) },
      props: { posts: posts, tag: tag },
    };
  });
}

type Props = {
  tag: string;
  posts: BlogPost[];
};

const { tag, posts } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`Posts tagged ${tag}`} description={SITE_DESCRIPTION} />
  </head>
  <Shell>
    <section class="flex justify-center px-5 sm:px-20 md:px-40 py-5">
      <div class="xl:w-2/3 2xl:w-1/2 max-w-full">
        <h1
          class="font-headings text-4xl md:text-5xl lg:text-7xl py-10 text-center"
        >
          Posts tagged <b class="">{tag}</b>
        </h1>
        <BlogPostList posts={posts} />
        <a href={getUrl("/tags/")} class="underline hover:text-amber-800"
          >View all tags</a
        >
      </div>
    </section>
  </Shell>
</html>
