---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../../consts";
import slug from "slug";
import { getBlogPosts } from "../../functions/blog/getBlogPosts";
import { groupByTags } from "../../functions/blog/groupByTags";
import Shell from "../../layouts/Shell.astro";
import { getUrl } from "../../functions/getUrl";

const posts = await getBlogPosts();
const tags = groupByTags(posts);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="All tags" description={SITE_DESCRIPTION} />
  </head>
  <Shell>
    <section class="flex justify-center px-5 sm:px-20 md:px-40 py-5">
      <div class="xl:w-2/3 2xl:w-1/2 max-w-full">
        <h1
          class="font-headings text-4xl md:text-5xl lg:text-7xl py-10 text-center"
        >
          All tags
        </h1>
        <ul class="flex flex-wrap justify-center items-center gap-2 lg:gap-5">
          {
            Object.entries(tags)
              .toSorted(
                ([_tagA, postsA], [_tagB, postsB]) =>
                  postsB.length - postsA.length,
              )
              .map(([tag, posts]) => (
                <li class={`flex items-center gap-1`}>
                  <a
                    href={getUrl(`/tags/${slug(tag)}/`)}
                    class={`hover:text-amber-800 text-center bg-amber-100 border-2 border-amber-300 px-4 py-2 rounded-md ${posts.length >= 5 ? "text-3xl lg:text-5xl" : posts.length >= 3 ? "text-2xl lg:text-4xl" : "lg:text-lg"}`}
                  >
                    {tag}
                  </a>
                </li>
              ))
          }
        </ul>
      </div>
    </section>
  </Shell>
</html>
