---
import { type CollectionEntry } from "astro:content";
import BlogPost from "../layouts/BlogPost.astro";
import { render } from "astro:content";
import { getPostSlug } from "../functions/blog/getPostSlug";
import { normaliseAliases } from "../functions/blog/normaliseBlogPostData";
import { getBlogPosts } from "../functions/blog/getBlogPosts";

export async function getStaticPaths() {
  const posts = await getBlogPosts();
  return posts.flatMap((post) => {
    const aliases = normaliseAliases(post);
    const postAndAliases = aliases.map((alias) => ({
      params: { slug: alias },
      props: post,
    }));
    postAndAliases.push({
      params: { slug: getPostSlug(post.id) },
      props: post,
    });

    return postAndAliases;
  });
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const postSlug = getPostSlug(post.id);
if (postSlug !== Astro.params.slug) {
  return Astro.redirect(`/${postSlug}/`);
}
const { Content } = await render(post);
---

<BlogPost post={post}>
  <Content />
</BlogPost>
