---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Shell from "../layouts/Shell.astro";
import BlostPostList from "../components/blog/BlostPostList.astro";
import { getBlogPosts } from "../functions/blog/getBlogPosts";
import { getUrl } from "../functions/getUrl";

const latestPosts = (await getBlogPosts()).slice(0, 5);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Shell>
    <article class="flex justify-center px-5 sm:px-20 md:px-40 py-5">
      <div class="xl:w-2/3 2xl:w-1/2 max-w-full">
        <h1
          class="font-headings text-4xl md:text-5xl lg:text-7xl py-10 text-center"
        >
          Hi there,
        </h1>
        <p class="text-xl">
          My name is Vincent Tunru, and this is where I write about things that
          interest me as a front-end engineer. Take a look at some of my latest
          writings below:
        </p>
        <BlostPostList posts={latestPosts} />
        <p class="text-lg">
          <a href={getUrl("/archive/")} class="underline hover:text-amber-800"
            >…and more here.</a
          >
        </p>
      </div>
    </article>
  </Shell>
</html>
