<!doctype html>
<html lang="en">
  <body>
    <h1 class="font-headings text-3xl">Test</h1>
    <p class="text-4xl font-body">Test 2</p>
    <p class="text-4xl font-sans">Test 2</p>
    <p class="text-4xl font-comic">Test 2</p>
  </body>
</html>
