---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import "@fontsource/lilita-one";
import "@fontsource/sarala";
import lilitaOneUrl from "@fontsource/lilita-one/files/lilita-one-latin-400-normal.woff2?url";
import saralaUrl from "@fontsource/sarala/files/sarala-latin-400-normal.woff2?url";
import { SITE_TITLE } from "../consts";
import { getUrl } from "../functions/getUrl";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const canonicalURL = getUrl(Astro.url.pathname);

const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href={getUrl("/favicon.ico")} />
<link rel="icon" type="image/png" href={getUrl("/img/generated/favicon.png")} />
<link
  rel="icon"
  type="image/svg+xml"
  href={getUrl("/img/generated/favicon.svg")}
/>
<meta name="generator" content={Astro.generator} />
<link
  rel="alternate"
  type="application/rss+xml"
  title={title}
  href={getUrl("/atom.xml")}
/>

<!-- Font preloads -->
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href={lilitaOneUrl}
  crossorigin="anonymous"
/>
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href={saralaUrl}
  crossorigin="anonymous"
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title !== SITE_TITLE ? `${title} · ${SITE_TITLE}` : title}</title>
<meta name="title" content={title} />
{description && <meta name="description" content={description} />}

<!-- Mastodon -->
<meta name="fediverse:creator" content="@VincentTunru@fosstodon.org" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content={image
    ? new URL(image, Astro.url)
    : getUrl("img/generated/fallbackOgImage.png")}
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={image
    ? new URL(image, Astro.url)
    : getUrl("img/generated/fallbackOgImage.png")}
/>
