---
import { SITE_TITLE } from "../consts";
import { getUrl } from "../functions/getUrl";
---

<header
  class="md:sticky top-0 bg-amber-200 md:shadow-md md:border-b-2 border-black"
>
  <nav class="flex py-5 px-5 space-x-5">
    <div class="grow basis-0"></div>
    <h2 class="text-center font-headings text-2xl lg:text-3xl">
      <a href={getUrl("/")} class="hover:drop-shadow-md border-b-2 border-black"
        >{SITE_TITLE}</a
      >
    </h2>
    <div class="grow basis-0 flex items-center justify-end space-x-2">
      <a
        href="https://fosstodon.org/@VincentTunru"
        class="hover:text-amber-900 p-2 max-w-9 md:max-w-10"
        title="Follow me on Mastodon"
      >
        <span class="sr-only">Follow me on Mastodon</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"
          ></path></svg
        >
      </a>
      <a
        href={getUrl("/atom.xml")}
        class="hover:text-amber-900 p-2 max-w-9 md:max-w-10"
        title="Subscribe to the feed"
      >
        <span class="sr-only">Subscribe to the feed</span>
        <svg
          viewBox="0 0 32 32"
          width="32"
          height="32"
          aria-hidden="true"
          fill="currentColor"
        >
          <ellipse
            cy="27.611521"
            cx="4.5142398"
            rx="4.3411198"
            ry="4.3884797"
            style="stroke-width:0.32"></ellipse><path
            d="m 21.1552,31.999999 h -6.15008 c 0,-8.28128 -6.64064,-14.994559 -14.83199975,-14.994559 V 10.7888 C 11.7616,10.7888 21.1552,20.285119 21.1552,31.999999 Z"
            style="stroke-width:0.32"></path><path
            d="M 25.49632,31.999999 C 25.49632,17.861439 14.15904,6.3999995 0.17312025,6.3999995 V -2.1730041e-7 C 17.65504,-2.1730041e-7 31.82688,14.32704 31.82688,31.999999 Z"
            style="stroke-width:0.32"></path>
        </svg>
      </a>
    </div>
  </nav>
</header>
