---
import type { BlogPost } from "../../functions/blog/getBlogPosts";
import { getPostSlug } from "../../functions/blog/getPostSlug";
import { getUrl } from "../../functions/getUrl";
import FormattedDate from "../FormattedDate.astro";
import TagList from "./TagList.astro";

interface Props {
  posts: BlogPost[];
}

const { posts } = Astro.props;
---

<ul class="flex flex-col gap-10 py-10">
  {
    posts.map((post) => {
      return (
        <li class="flex flex-col gap-2">
          <a
            href={getUrl(`/${getPostSlug(post.id)}/`)}
            class="text-2xl font-bold hover:text-amber-800"
          >
            {post.data.title}
          </a>
          <span class="flex justify-between items-center gap-5">
            <div class="shrink-0">
              <FormattedDate date={post.data.pubDate} />
            </div>
            <div class="flex items-center">
              <TagList post={post} />
            </div>
          </span>
        </li>
      );
    })
  }
</ul>
