---
import slug from "slug";
import type { BlogPost } from "../../functions/blog/getBlogPosts";
import { normaliseTags } from "../../functions/blog/normaliseBlogPostData";
import { getUrl } from "../../functions/getUrl";

interface Props {
  post: BlogPost;
}

const { post } = Astro.props;
const tags = normaliseTags(post);
---

<ul class="flex flex-wrap grow gap-x-2 gap-y-3 justify-end">
  {
    tags.toSorted().map((tag) => (
      <li class="shrink-0">
        <a
          href={getUrl(`/tags/${slug(tag)}/`)}
          class="bg-amber-100 rounded-md px-1 border-2 border-amber-300 hover:bg-amber-300"
        >
          {tag}
        </a>
      </li>
    ))
  }
</ul>
