---
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Shell from "./Shell.astro";
import { normaliseTags } from "../functions/blog/normaliseBlogPostData";
import type { BlogPost } from "../functions/blog/getBlogPosts";
import TagList from "../components/blog/TagList.astro";

type Props = { post: BlogPost };

const post = Astro.props.post;
const { title, description, pubDate, updatedDate, image } = post.data;
const tags = normaliseTags(post);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <Shell>
    {
      post.data.draft && (
        <div class="bg-red-600 text-white p-5 text-2xl text-center rounded-xs">
          <b>Warning:</b> this post is unfinished!
        </div>
      )
    }
    <article class="flex justify-center px-5 sm:px-20 md:px-40 py-5">
      <div class="xl:w-2/3 2xl:w-1/2 max-w-full">
        <div class="flex flex-col md:py-5 md:space-y-5">
          <div class="flex justify-center items-center">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  &nbsp;·&nbsp; Last updated on{" "}
                  <FormattedDate date={updatedDate} />
                </div>
              )
            }
            {
              tags.length > 0 && (
                <div class="flex items-center">
                  &nbsp;·&nbsp;
                  <TagList post={post} />
                </div>
              )
            }
          </div>
          <h1
            class="font-headings text-4xl md:text-5xl lg:text-7xl py-10 text-center"
          >
            {title}
          </h1>
          {
            Date.now() - pubDate.getTime() > 365 * 24 * 60 * 60 * 1000 && (
              <div class="p-5 border-2 border-yellow-700 rounded-xs">
                <b>Note:</b> This post is from {pubDate.getFullYear()}, and thus
                possibly outdated. Or perhaps it always was, but hey, those were
                different times, and I was young and naive&nbsp;🤷
              </div>
            )
          }
        </div>
        <div class="prose lg:prose-xl prose-a:hover:text-amber-800">
          <slot />
        </div>
        <footer class="flex justify-end gap-2 p-5 text-sm">
          <a
            href={post.data.licence === "cc-by"
              ? "http://creativecommons.org/licenses/by/4.0/"
              : "https://creativecommons.org/licenses/by-sa/4.0/"}
            target="_blank"
          >
            Licence: {post.data.licence === "cc-by" ? "CC-By" : "CC-By-SA"}
          </a>
          &nbsp;·&nbsp;
          <a
            href={`https://gitlab.com/vincenttunru/blog/-/blob/draft/${post.filePath}`}
            target="_blank"
          >
            Submit a correction
          </a>
        </footer>
      </div>
    </article>
  </Shell>
</html>
