---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<style>
  html {
    height: 100%;
  }
</style>

<body class="bg-amber-200 selection:bg-amber-600 min-h-full flex flex-col">
  <Header />
  <main class="grow">
    <slot />
  </main>

  <Footer />
</body>
